* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: ;
}

html,
body {
    height: 100%;
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
video {
    object-fit: cover;
}

body {
    padding: 100px;
}

.hero {
    height: 30vw;
    width: 30vw;
    background-color: orangered;
    filter: blur(20px);
    border-radius: 50%;
    position: absolute;
}
.hero-2{
    height: 30vw;
    width: 30vw;
    background-color: orangered;
    filter: blur(20px);
    border-radius: 50%;
    position: absolute;
    animation-name: anime;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime {
    from{
        transform: translate(-10%,-10%);
    }
    to{
        transform: translate(10%,10%);
    }
    
}